* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
  border: solid black 1px;
  text-align: center;
}

.container h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.container p {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  background-color: blue;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
}

.header h1 span {
  color: lightgray;
}